{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://comprehendmedical.amazonaws.com/"
        },
        {
            "url": "http://comprehendmedical.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": " Comprehend Medical extracts structured information from unstructured clinical text. Use these actions to gain insight in your documents. ",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Comprehend Medical",
        "version": "2018-10-30",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/comprehendmedical-2018-10-30.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "comprehendmedical"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/comprehendmedical/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": " Inspects the clinical text for a variety of medical entities and returns specific information about them such as entity category, location, and confidence score on that information .",
                "operationId": "DetectEntities",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Entities": {
                                            "description": " The collection of medical entities extracted from the input text and their associated information. For each entity, the response provides the entity text, the entity category, where the entity text begins and ends, and the level of confidence that Comprehend Medical has in the detection and analysis. Attributes and traits of the entity are also returned.",
                                            "items": {
                                                "description": " Provides information about an extracted medical entity.",
                                                "properties": {
                                                    "Attributes": {
                                                        "description": " The extracted attributes that relate to this entity.",
                                                        "items": {
                                                            "description": " An extracted segment of the text that is an attribute of an entity, or otherwise related to an entity, such as the dosage of a medication taken. It contains information about the attribute such as id, begin and end offset within the input text, and the segment of the input text. ",
                                                            "properties": {
                                                                "BeginOffset": {
                                                                    "description": " The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. ",
                                                                    "type": "integer"
                                                                },
                                                                "EndOffset": {
                                                                    "description": " The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string. ",
                                                                    "type": "integer"
                                                                },
                                                                "Id": {
                                                                    "description": " The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. ",
                                                                    "type": "integer"
                                                                },
                                                                "RelationshipScore": {
                                                                    "description": " The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity. ",
                                                                    "format": "float",
                                                                    "type": "number"
                                                                },
                                                                "Score": {
                                                                    "description": " The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute. ",
                                                                    "format": "float",
                                                                    "type": "number"
                                                                },
                                                                "Text": {
                                                                    "description": " The segment of input text extracted as this attribute.",
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                },
                                                                "Traits": {
                                                                    "description": " Contextual information for this attribute. ",
                                                                    "items": {
                                                                        "description": " Provides contextual information about the extracted entity. ",
                                                                        "properties": {
                                                                            "Name": {
                                                                                "description": " Provides a name or contextual description about the trait. ",
                                                                                "enum": [
                                                                                    "SIGN",
                                                                                    "SYMPTOM",
                                                                                    "DIAGNOSIS",
                                                                                    "NEGATION"
                                                                                ],
                                                                                "type": "string"
                                                                            },
                                                                            "Score": {
                                                                                "description": " The level of confidence that Comprehend Medical has in the accuracy of this trait.",
                                                                                "format": "float",
                                                                                "type": "number"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "Type": {
                                                                    "description": " The type of attribute. ",
                                                                    "enum": [
                                                                        "NAME",
                                                                        "DOSAGE",
                                                                        "ROUTE_OR_MODE",
                                                                        "FORM",
                                                                        "FREQUENCY",
                                                                        "DURATION",
                                                                        "GENERIC_NAME",
                                                                        "BRAND_NAME",
                                                                        "STRENGTH",
                                                                        "RATE",
                                                                        "ACUITY",
                                                                        "TEST_NAME",
                                                                        "TEST_VALUE",
                                                                        "TEST_UNITS",
                                                                        "PROCEDURE_NAME",
                                                                        "TREATMENT_NAME",
                                                                        "DATE",
                                                                        "AGE",
                                                                        "CONTACT_POINT",
                                                                        "EMAIL",
                                                                        "IDENTIFIER",
                                                                        "URL",
                                                                        "ADDRESS",
                                                                        "PROFESSION",
                                                                        "SYSTEM_ORGAN_SITE",
                                                                        "DIRECTION",
                                                                        "QUALITY",
                                                                        "QUANTITY"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "BeginOffset": {
                                                        "description": " The 0-based character offset in the input text that shows where the entity begins. The offset returns the UTF-8 code point in the string. ",
                                                        "type": "integer"
                                                    },
                                                    "Category": {
                                                        "description": " The category of the entity.",
                                                        "enum": [
                                                            "MEDICATION",
                                                            "MEDICAL_CONDITION",
                                                            "PROTECTED_HEALTH_INFORMATION",
                                                            "TEST_TREATMENT_PROCEDURE",
                                                            "ANATOMY"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "EndOffset": {
                                                        "description": " The 0-based character offset in the input text that shows where the entity ends. The offset returns the UTF-8 code point in the string. ",
                                                        "type": "integer"
                                                    },
                                                    "Id": {
                                                        "description": " The numeric identifier for the entity. This is a monotonically increasing id unique within this response rather than a global unique identifier. ",
                                                        "type": "integer"
                                                    },
                                                    "Score": {
                                                        "description": "The level of confidence that Comprehend Medical has in the accuracy of the detection.",
                                                        "format": "float",
                                                        "type": "number"
                                                    },
                                                    "Text": {
                                                        "description": " The segment of input text extracted as this entity.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Traits": {
                                                        "description": "Contextual information for the entity",
                                                        "items": {
                                                            "description": " Provides contextual information about the extracted entity. ",
                                                            "properties": {
                                                                "Name": {
                                                                    "description": " Provides a name or contextual description about the trait. ",
                                                                    "enum": [
                                                                        "SIGN",
                                                                        "SYMPTOM",
                                                                        "DIAGNOSIS",
                                                                        "NEGATION"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "Score": {
                                                                    "description": " The level of confidence that Comprehend Medical has in the accuracy of this trait.",
                                                                    "format": "float",
                                                                    "type": "number"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "Type": {
                                                        "description": " Describes the specific type of entity with category of entities. ",
                                                        "enum": [
                                                            "NAME",
                                                            "DOSAGE",
                                                            "ROUTE_OR_MODE",
                                                            "FORM",
                                                            "FREQUENCY",
                                                            "DURATION",
                                                            "GENERIC_NAME",
                                                            "BRAND_NAME",
                                                            "STRENGTH",
                                                            "RATE",
                                                            "ACUITY",
                                                            "TEST_NAME",
                                                            "TEST_VALUE",
                                                            "TEST_UNITS",
                                                            "PROCEDURE_NAME",
                                                            "TREATMENT_NAME",
                                                            "DATE",
                                                            "AGE",
                                                            "CONTACT_POINT",
                                                            "EMAIL",
                                                            "IDENTIFIER",
                                                            "URL",
                                                            "ADDRESS",
                                                            "PROFESSION",
                                                            "SYSTEM_ORGAN_SITE",
                                                            "DIRECTION",
                                                            "QUALITY",
                                                            "QUANTITY"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "PaginationToken": {
                                            "description": " If the result of the previous request to DetectEntities was truncated, include the Paginationtoken to fetch the next page of entities.",
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "UnmappedAttributes": {
                                            "description": " Attributes extracted from the input text that we were unable to relate to an entity.",
                                            "items": {
                                                "description": " An attribute that we extracted, but were unable to relate to an entity. ",
                                                "properties": {
                                                    "Attribute": {
                                                        "description": " The specific attribute that has been extracted but not mapped to an entity. ",
                                                        "properties": {
                                                            "BeginOffset": {
                                                                "description": " The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. ",
                                                                "type": "integer"
                                                            },
                                                            "EndOffset": {
                                                                "description": " The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string. ",
                                                                "type": "integer"
                                                            },
                                                            "Id": {
                                                                "description": " The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. ",
                                                                "type": "integer"
                                                            },
                                                            "RelationshipScore": {
                                                                "description": " The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity. ",
                                                                "format": "float",
                                                                "type": "number"
                                                            },
                                                            "Score": {
                                                                "description": " The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute. ",
                                                                "format": "float",
                                                                "type": "number"
                                                            },
                                                            "Text": {
                                                                "description": " The segment of input text extracted as this attribute.",
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "Traits": {
                                                                "description": " Contextual information for this attribute. ",
                                                                "items": {
                                                                    "description": " Provides contextual information about the extracted entity. ",
                                                                    "properties": {
                                                                        "Name": {
                                                                            "description": " Provides a name or contextual description about the trait. ",
                                                                            "enum": [
                                                                                "SIGN",
                                                                                "SYMPTOM",
                                                                                "DIAGNOSIS",
                                                                                "NEGATION"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "Score": {
                                                                            "description": " The level of confidence that Comprehend Medical has in the accuracy of this trait.",
                                                                            "format": "float",
                                                                            "type": "number"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "Type": {
                                                                "description": " The type of attribute. ",
                                                                "enum": [
                                                                    "NAME",
                                                                    "DOSAGE",
                                                                    "ROUTE_OR_MODE",
                                                                    "FORM",
                                                                    "FREQUENCY",
                                                                    "DURATION",
                                                                    "GENERIC_NAME",
                                                                    "BRAND_NAME",
                                                                    "STRENGTH",
                                                                    "RATE",
                                                                    "ACUITY",
                                                                    "TEST_NAME",
                                                                    "TEST_VALUE",
                                                                    "TEST_UNITS",
                                                                    "PROCEDURE_NAME",
                                                                    "TREATMENT_NAME",
                                                                    "DATE",
                                                                    "AGE",
                                                                    "CONTACT_POINT",
                                                                    "EMAIL",
                                                                    "IDENTIFIER",
                                                                    "URL",
                                                                    "ADDRESS",
                                                                    "PROFESSION",
                                                                    "SYSTEM_ORGAN_SITE",
                                                                    "DIRECTION",
                                                                    "QUALITY",
                                                                    "QUANTITY"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "Type": {
                                                        "description": " The type of the attribute, could be one of the following values: \"MEDICATION\", \"MEDICAL_CONDITION\", \"ANATOMY\", \"TEST_AND_TREATMENT_PROCEDURE\" or \"PERSONAL_HEALTH_INFORMATION\". ",
                                                        "enum": [
                                                            "MEDICATION",
                                                            "MEDICAL_CONDITION",
                                                            "PROTECTED_HEALTH_INFORMATION",
                                                            "TEST_TREATMENT_PROCEDURE",
                                                            "ANATOMY"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "Entities"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidEncodingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "TextSizeLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Text": {
                                        "description": " A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.",
                                        "maxLength": 20000,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "Text"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DetectPHI": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": " Inspects the clinical text for personal health information (PHI) entities and entity category, location, and confidence score on that information.",
                "operationId": "DetectPHI",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Entities": {
                                            "description": " The collection of PHI entities extracted from the input text and their associated information. For each entity, the response provides the entity text, the entity category, where the entity text begins and ends, and the level of confidence that Comprehend Medical has in its detection. ",
                                            "items": {
                                                "description": " Provides information about an extracted medical entity.",
                                                "properties": {
                                                    "Attributes": {
                                                        "description": " The extracted attributes that relate to this entity.",
                                                        "items": {
                                                            "description": " An extracted segment of the text that is an attribute of an entity, or otherwise related to an entity, such as the dosage of a medication taken. It contains information about the attribute such as id, begin and end offset within the input text, and the segment of the input text. ",
                                                            "properties": {
                                                                "BeginOffset": {
                                                                    "description": " The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. ",
                                                                    "type": "integer"
                                                                },
                                                                "EndOffset": {
                                                                    "description": " The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string. ",
                                                                    "type": "integer"
                                                                },
                                                                "Id": {
                                                                    "description": " The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. ",
                                                                    "type": "integer"
                                                                },
                                                                "RelationshipScore": {
                                                                    "description": " The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity. ",
                                                                    "format": "float",
                                                                    "type": "number"
                                                                },
                                                                "Score": {
                                                                    "description": " The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute. ",
                                                                    "format": "float",
                                                                    "type": "number"
                                                                },
                                                                "Text": {
                                                                    "description": " The segment of input text extracted as this attribute.",
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                },
                                                                "Traits": {
                                                                    "description": " Contextual information for this attribute. ",
                                                                    "items": {
                                                                        "description": " Provides contextual information about the extracted entity. ",
                                                                        "properties": {
                                                                            "Name": {
                                                                                "description": " Provides a name or contextual description about the trait. ",
                                                                                "enum": [
                                                                                    "SIGN",
                                                                                    "SYMPTOM",
                                                                                    "DIAGNOSIS",
                                                                                    "NEGATION"
                                                                                ],
                                                                                "type": "string"
                                                                            },
                                                                            "Score": {
                                                                                "description": " The level of confidence that Comprehend Medical has in the accuracy of this trait.",
                                                                                "format": "float",
                                                                                "type": "number"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "Type": {
                                                                    "description": " The type of attribute. ",
                                                                    "enum": [
                                                                        "NAME",
                                                                        "DOSAGE",
                                                                        "ROUTE_OR_MODE",
                                                                        "FORM",
                                                                        "FREQUENCY",
                                                                        "DURATION",
                                                                        "GENERIC_NAME",
                                                                        "BRAND_NAME",
                                                                        "STRENGTH",
                                                                        "RATE",
                                                                        "ACUITY",
                                                                        "TEST_NAME",
                                                                        "TEST_VALUE",
                                                                        "TEST_UNITS",
                                                                        "PROCEDURE_NAME",
                                                                        "TREATMENT_NAME",
                                                                        "DATE",
                                                                        "AGE",
                                                                        "CONTACT_POINT",
                                                                        "EMAIL",
                                                                        "IDENTIFIER",
                                                                        "URL",
                                                                        "ADDRESS",
                                                                        "PROFESSION",
                                                                        "SYSTEM_ORGAN_SITE",
                                                                        "DIRECTION",
                                                                        "QUALITY",
                                                                        "QUANTITY"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "BeginOffset": {
                                                        "description": " The 0-based character offset in the input text that shows where the entity begins. The offset returns the UTF-8 code point in the string. ",
                                                        "type": "integer"
                                                    },
                                                    "Category": {
                                                        "description": " The category of the entity.",
                                                        "enum": [
                                                            "MEDICATION",
                                                            "MEDICAL_CONDITION",
                                                            "PROTECTED_HEALTH_INFORMATION",
                                                            "TEST_TREATMENT_PROCEDURE",
                                                            "ANATOMY"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "EndOffset": {
                                                        "description": " The 0-based character offset in the input text that shows where the entity ends. The offset returns the UTF-8 code point in the string. ",
                                                        "type": "integer"
                                                    },
                                                    "Id": {
                                                        "description": " The numeric identifier for the entity. This is a monotonically increasing id unique within this response rather than a global unique identifier. ",
                                                        "type": "integer"
                                                    },
                                                    "Score": {
                                                        "description": "The level of confidence that Comprehend Medical has in the accuracy of the detection.",
                                                        "format": "float",
                                                        "type": "number"
                                                    },
                                                    "Text": {
                                                        "description": " The segment of input text extracted as this entity.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Traits": {
                                                        "description": "Contextual information for the entity",
                                                        "items": {
                                                            "description": " Provides contextual information about the extracted entity. ",
                                                            "properties": {
                                                                "Name": {
                                                                    "description": " Provides a name or contextual description about the trait. ",
                                                                    "enum": [
                                                                        "SIGN",
                                                                        "SYMPTOM",
                                                                        "DIAGNOSIS",
                                                                        "NEGATION"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "Score": {
                                                                    "description": " The level of confidence that Comprehend Medical has in the accuracy of this trait.",
                                                                    "format": "float",
                                                                    "type": "number"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "Type": {
                                                        "description": " Describes the specific type of entity with category of entities. ",
                                                        "enum": [
                                                            "NAME",
                                                            "DOSAGE",
                                                            "ROUTE_OR_MODE",
                                                            "FORM",
                                                            "FREQUENCY",
                                                            "DURATION",
                                                            "GENERIC_NAME",
                                                            "BRAND_NAME",
                                                            "STRENGTH",
                                                            "RATE",
                                                            "ACUITY",
                                                            "TEST_NAME",
                                                            "TEST_VALUE",
                                                            "TEST_UNITS",
                                                            "PROCEDURE_NAME",
                                                            "TREATMENT_NAME",
                                                            "DATE",
                                                            "AGE",
                                                            "CONTACT_POINT",
                                                            "EMAIL",
                                                            "IDENTIFIER",
                                                            "URL",
                                                            "ADDRESS",
                                                            "PROFESSION",
                                                            "SYSTEM_ORGAN_SITE",
                                                            "DIRECTION",
                                                            "QUALITY",
                                                            "QUANTITY"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "PaginationToken": {
                                            "description": " If the result of the previous request to DetectPHI was truncated, include the Paginationtoken to fetch the next page of PHI entities. ",
                                            "minLength": 1,
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "Entities"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidEncodingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "TextSizeLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Text": {
                                        "description": " A UTF-8 text string containing the clinical content being examined for PHI entities. Each string must contain fewer than 20,000 bytes of characters. ",
                                        "maxLength": 20000,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "Text"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Attribute": {
                "description": " An extracted segment of the text that is an attribute of an entity, or otherwise related to an entity, such as the dosage of a medication taken. It contains information about the attribute such as id, begin and end offset within the input text, and the segment of the input text. ",
                "properties": {
                    "BeginOffset": {
                        "description": " The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. ",
                        "type": "integer"
                    },
                    "EndOffset": {
                        "description": " The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string. ",
                        "type": "integer"
                    },
                    "Id": {
                        "description": " The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. ",
                        "type": "integer"
                    },
                    "RelationshipScore": {
                        "description": " The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity. ",
                        "format": "float",
                        "type": "number"
                    },
                    "Score": {
                        "description": " The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute. ",
                        "format": "float",
                        "type": "number"
                    },
                    "Text": {
                        "description": " The segment of input text extracted as this attribute.",
                        "minLength": 1,
                        "type": "string"
                    },
                    "Traits": {
                        "description": " Contextual information for this attribute. ",
                        "items": {
                            "description": " Provides contextual information about the extracted entity. ",
                            "properties": {
                                "Name": {
                                    "description": " Provides a name or contextual description about the trait. ",
                                    "enum": [
                                        "SIGN",
                                        "SYMPTOM",
                                        "DIAGNOSIS",
                                        "NEGATION"
                                    ],
                                    "type": "string"
                                },
                                "Score": {
                                    "description": " The level of confidence that Comprehend Medical has in the accuracy of this trait.",
                                    "format": "float",
                                    "type": "number"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "Type": {
                        "description": " The type of attribute. ",
                        "enum": [
                            "NAME",
                            "DOSAGE",
                            "ROUTE_OR_MODE",
                            "FORM",
                            "FREQUENCY",
                            "DURATION",
                            "GENERIC_NAME",
                            "BRAND_NAME",
                            "STRENGTH",
                            "RATE",
                            "ACUITY",
                            "TEST_NAME",
                            "TEST_VALUE",
                            "TEST_UNITS",
                            "PROCEDURE_NAME",
                            "TREATMENT_NAME",
                            "DATE",
                            "AGE",
                            "CONTACT_POINT",
                            "EMAIL",
                            "IDENTIFIER",
                            "URL",
                            "ADDRESS",
                            "PROFESSION",
                            "SYSTEM_ORGAN_SITE",
                            "DIRECTION",
                            "QUALITY",
                            "QUANTITY"
                        ],
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "AttributeList": {
                "items": {
                    "description": " An extracted segment of the text that is an attribute of an entity, or otherwise related to an entity, such as the dosage of a medication taken. It contains information about the attribute such as id, begin and end offset within the input text, and the segment of the input text. ",
                    "properties": {
                        "BeginOffset": {
                            "description": " The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. ",
                            "type": "integer"
                        },
                        "EndOffset": {
                            "description": " The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string. ",
                            "type": "integer"
                        },
                        "Id": {
                            "description": " The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. ",
                            "type": "integer"
                        },
                        "RelationshipScore": {
                            "description": " The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity. ",
                            "format": "float",
                            "type": "number"
                        },
                        "Score": {
                            "description": " The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute. ",
                            "format": "float",
                            "type": "number"
                        },
                        "Text": {
                            "description": " The segment of input text extracted as this attribute.",
                            "minLength": 1,
                            "type": "string"
                        },
                        "Traits": {
                            "description": " Contextual information for this attribute. ",
                            "items": {
                                "description": " Provides contextual information about the extracted entity. ",
                                "properties": {
                                    "Name": {
                                        "description": " Provides a name or contextual description about the trait. ",
                                        "enum": [
                                            "SIGN",
                                            "SYMPTOM",
                                            "DIAGNOSIS",
                                            "NEGATION"
                                        ],
                                        "type": "string"
                                    },
                                    "Score": {
                                        "description": " The level of confidence that Comprehend Medical has in the accuracy of this trait.",
                                        "format": "float",
                                        "type": "number"
                                    }
                                },
                                "type": "object"
                            },
                            "type": "array"
                        },
                        "Type": {
                            "description": " The type of attribute. ",
                            "enum": [
                                "NAME",
                                "DOSAGE",
                                "ROUTE_OR_MODE",
                                "FORM",
                                "FREQUENCY",
                                "DURATION",
                                "GENERIC_NAME",
                                "BRAND_NAME",
                                "STRENGTH",
                                "RATE",
                                "ACUITY",
                                "TEST_NAME",
                                "TEST_VALUE",
                                "TEST_UNITS",
                                "PROCEDURE_NAME",
                                "TREATMENT_NAME",
                                "DATE",
                                "AGE",
                                "CONTACT_POINT",
                                "EMAIL",
                                "IDENTIFIER",
                                "URL",
                                "ADDRESS",
                                "PROFESSION",
                                "SYSTEM_ORGAN_SITE",
                                "DIRECTION",
                                "QUALITY",
                                "QUANTITY"
                            ],
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "type": "array"
            },
            "AttributeName": {
                "enum": [
                    "SIGN",
                    "SYMPTOM",
                    "DIAGNOSIS",
                    "NEGATION"
                ],
                "type": "string"
            },
            "BoundedLengthString": {
                "maxLength": 20000,
                "minLength": 1,
                "type": "string"
            },
            "DetectEntitiesRequest": {
                "properties": {
                    "Text": {
                        "description": " A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.",
                        "maxLength": 20000,
                        "minLength": 1,
                        "type": "string"
                    }
                },
                "required": [
                    "Text"
                ],
                "type": "object"
            },
            "DetectEntitiesResponse": {
                "properties": {
                    "Entities": {
                        "description": " The collection of medical entities extracted from the input text and their associated information. For each entity, the response provides the entity text, the entity category, where the entity text begins and ends, and the level of confidence that Comprehend Medical has in the detection and analysis. Attributes and traits of the entity are also returned.",
                        "items": {
                            "description": " Provides information about an extracted medical entity.",
                            "properties": {
                                "Attributes": {
                                    "description": " The extracted attributes that relate to this entity.",
                                    "items": {
                                        "description": " An extracted segment of the text that is an attribute of an entity, or otherwise related to an entity, such as the dosage of a medication taken. It contains information about the attribute such as id, begin and end offset within the input text, and the segment of the input text. ",
                                        "properties": {
                                            "BeginOffset": {
                                                "description": " The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. ",
                                                "type": "integer"
                                            },
                                            "EndOffset": {
                                                "description": " The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string. ",
                                                "type": "integer"
                                            },
                                            "Id": {
                                                "description": " The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. ",
                                                "type": "integer"
                                            },
                                            "RelationshipScore": {
                                                "description": " The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity. ",
                                                "format": "float",
                                                "type": "number"
                                            },
                                            "Score": {
                                                "description": " The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute. ",
                                                "format": "float",
                                                "type": "number"
                                            },
                                            "Text": {
                                                "description": " The segment of input text extracted as this attribute.",
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "Traits": {
                                                "description": " Contextual information for this attribute. ",
                                                "items": {
                                                    "description": " Provides contextual information about the extracted entity. ",
                                                    "properties": {
                                                        "Name": {
                                                            "description": " Provides a name or contextual description about the trait. ",
                                                            "enum": [
                                                                "SIGN",
                                                                "SYMPTOM",
                                                                "DIAGNOSIS",
                                                                "NEGATION"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Score": {
                                                            "description": " The level of confidence that Comprehend Medical has in the accuracy of this trait.",
                                                            "format": "float",
                                                            "type": "number"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "Type": {
                                                "description": " The type of attribute. ",
                                                "enum": [
                                                    "NAME",
                                                    "DOSAGE",
                                                    "ROUTE_OR_MODE",
                                                    "FORM",
                                                    "FREQUENCY",
                                                    "DURATION",
                                                    "GENERIC_NAME",
                                                    "BRAND_NAME",
                                                    "STRENGTH",
                                                    "RATE",
                                                    "ACUITY",
                                                    "TEST_NAME",
                                                    "TEST_VALUE",
                                                    "TEST_UNITS",
                                                    "PROCEDURE_NAME",
                                                    "TREATMENT_NAME",
                                                    "DATE",
                                                    "AGE",
                                                    "CONTACT_POINT",
                                                    "EMAIL",
                                                    "IDENTIFIER",
                                                    "URL",
                                                    "ADDRESS",
                                                    "PROFESSION",
                                                    "SYSTEM_ORGAN_SITE",
                                                    "DIRECTION",
                                                    "QUALITY",
                                                    "QUANTITY"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                },
                                "BeginOffset": {
                                    "description": " The 0-based character offset in the input text that shows where the entity begins. The offset returns the UTF-8 code point in the string. ",
                                    "type": "integer"
                                },
                                "Category": {
                                    "description": " The category of the entity.",
                                    "enum": [
                                        "MEDICATION",
                                        "MEDICAL_CONDITION",
                                        "PROTECTED_HEALTH_INFORMATION",
                                        "TEST_TREATMENT_PROCEDURE",
                                        "ANATOMY"
                                    ],
                                    "type": "string"
                                },
                                "EndOffset": {
                                    "description": " The 0-based character offset in the input text that shows where the entity ends. The offset returns the UTF-8 code point in the string. ",
                                    "type": "integer"
                                },
                                "Id": {
                                    "description": " The numeric identifier for the entity. This is a monotonically increasing id unique within this response rather than a global unique identifier. ",
                                    "type": "integer"
                                },
                                "Score": {
                                    "description": "The level of confidence that Comprehend Medical has in the accuracy of the detection.",
                                    "format": "float",
                                    "type": "number"
                                },
                                "Text": {
                                    "description": " The segment of input text extracted as this entity.",
                                    "minLength": 1,
                                    "type": "string"
                                },
                                "Traits": {
                                    "description": "Contextual information for the entity",
                                    "items": {
                                        "description": " Provides contextual information about the extracted entity. ",
                                        "properties": {
                                            "Name": {
                                                "description": " Provides a name or contextual description about the trait. ",
                                                "enum": [
                                                    "SIGN",
                                                    "SYMPTOM",
                                                    "DIAGNOSIS",
                                                    "NEGATION"
                                                ],
                                                "type": "string"
                                            },
                                            "Score": {
                                                "description": " The level of confidence that Comprehend Medical has in the accuracy of this trait.",
                                                "format": "float",
                                                "type": "number"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                },
                                "Type": {
                                    "description": " Describes the specific type of entity with category of entities. ",
                                    "enum": [
                                        "NAME",
                                        "DOSAGE",
                                        "ROUTE_OR_MODE",
                                        "FORM",
                                        "FREQUENCY",
                                        "DURATION",
                                        "GENERIC_NAME",
                                        "BRAND_NAME",
                                        "STRENGTH",
                                        "RATE",
                                        "ACUITY",
                                        "TEST_NAME",
                                        "TEST_VALUE",
                                        "TEST_UNITS",
                                        "PROCEDURE_NAME",
                                        "TREATMENT_NAME",
                                        "DATE",
                                        "AGE",
                                        "CONTACT_POINT",
                                        "EMAIL",
                                        "IDENTIFIER",
                                        "URL",
                                        "ADDRESS",
                                        "PROFESSION",
                                        "SYSTEM_ORGAN_SITE",
                                        "DIRECTION",
                                        "QUALITY",
                                        "QUANTITY"
                                    ],
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "PaginationToken": {
                        "description": " If the result of the previous request to DetectEntities was truncated, include the Paginationtoken to fetch the next page of entities.",
                        "minLength": 1,
                        "type": "string"
                    },
                    "UnmappedAttributes": {
                        "description": " Attributes extracted from the input text that we were unable to relate to an entity.",
                        "items": {
                            "description": " An attribute that we extracted, but were unable to relate to an entity. ",
                            "properties": {
                                "Attribute": {
                                    "description": " The specific attribute that has been extracted but not mapped to an entity. ",
                                    "properties": {
                                        "BeginOffset": {
                                            "description": " The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. ",
                                            "type": "integer"
                                        },
                                        "EndOffset": {
                                            "description": " The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string. ",
                                            "type": "integer"
                                        },
                                        "Id": {
                                            "description": " The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. ",
                                            "type": "integer"
                                        },
                                        "RelationshipScore": {
                                            "description": " The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity. ",
                                            "format": "float",
                                            "type": "number"
                                        },
                                        "Score": {
                                            "description": " The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute. ",
                                            "format": "float",
                                            "type": "number"
                                        },
                                        "Text": {
                                            "description": " The segment of input text extracted as this attribute.",
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "Traits": {
                                            "description": " Contextual information for this attribute. ",
                                            "items": {
                                                "description": " Provides contextual information about the extracted entity. ",
                                                "properties": {
                                                    "Name": {
                                                        "description": " Provides a name or contextual description about the trait. ",
                                                        "enum": [
                                                            "SIGN",
                                                            "SYMPTOM",
                                                            "DIAGNOSIS",
                                                            "NEGATION"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "Score": {
                                                        "description": " The level of confidence that Comprehend Medical has in the accuracy of this trait.",
                                                        "format": "float",
                                                        "type": "number"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "Type": {
                                            "description": " The type of attribute. ",
                                            "enum": [
                                                "NAME",
                                                "DOSAGE",
                                                "ROUTE_OR_MODE",
                                                "FORM",
                                                "FREQUENCY",
                                                "DURATION",
                                                "GENERIC_NAME",
                                                "BRAND_NAME",
                                                "STRENGTH",
                                                "RATE",
                                                "ACUITY",
                                                "TEST_NAME",
                                                "TEST_VALUE",
                                                "TEST_UNITS",
                                                "PROCEDURE_NAME",
                                                "TREATMENT_NAME",
                                                "DATE",
                                                "AGE",
                                                "CONTACT_POINT",
                                                "EMAIL",
                                                "IDENTIFIER",
                                                "URL",
                                                "ADDRESS",
                                                "PROFESSION",
                                                "SYSTEM_ORGAN_SITE",
                                                "DIRECTION",
                                                "QUALITY",
                                                "QUANTITY"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "Type": {
                                    "description": " The type of the attribute, could be one of the following values: \"MEDICATION\", \"MEDICAL_CONDITION\", \"ANATOMY\", \"TEST_AND_TREATMENT_PROCEDURE\" or \"PERSONAL_HEALTH_INFORMATION\". ",
                                    "enum": [
                                        "MEDICATION",
                                        "MEDICAL_CONDITION",
                                        "PROTECTED_HEALTH_INFORMATION",
                                        "TEST_TREATMENT_PROCEDURE",
                                        "ANATOMY"
                                    ],
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "required": [
                    "Entities"
                ],
                "type": "object"
            },
            "DetectPHIRequest": {
                "properties": {
                    "Text": {
                        "description": " A UTF-8 text string containing the clinical content being examined for PHI entities. Each string must contain fewer than 20,000 bytes of characters. ",
                        "maxLength": 20000,
                        "minLength": 1,
                        "type": "string"
                    }
                },
                "required": [
                    "Text"
                ],
                "type": "object"
            },
            "DetectPHIResponse": {
                "properties": {
                    "Entities": {
                        "description": " The collection of PHI entities extracted from the input text and their associated information. For each entity, the response provides the entity text, the entity category, where the entity text begins and ends, and the level of confidence that Comprehend Medical has in its detection. ",
                        "items": {
                            "description": " Provides information about an extracted medical entity.",
                            "properties": {
                                "Attributes": {
                                    "description": " The extracted attributes that relate to this entity.",
                                    "items": {
                                        "description": " An extracted segment of the text that is an attribute of an entity, or otherwise related to an entity, such as the dosage of a medication taken. It contains information about the attribute such as id, begin and end offset within the input text, and the segment of the input text. ",
                                        "properties": {
                                            "BeginOffset": {
                                                "description": " The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. ",
                                                "type": "integer"
                                            },
                                            "EndOffset": {
                                                "description": " The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string. ",
                                                "type": "integer"
                                            },
                                            "Id": {
                                                "description": " The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. ",
                                                "type": "integer"
                                            },
                                            "RelationshipScore": {
                                                "description": " The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity. ",
                                                "format": "float",
                                                "type": "number"
                                            },
                                            "Score": {
                                                "description": " The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute. ",
                                                "format": "float",
                                                "type": "number"
                                            },
                                            "Text": {
                                                "description": " The segment of input text extracted as this attribute.",
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "Traits": {
                                                "description": " Contextual information for this attribute. ",
                                                "items": {
                                                    "description": " Provides contextual information about the extracted entity. ",
                                                    "properties": {
                                                        "Name": {
                                                            "description": " Provides a name or contextual description about the trait. ",
                                                            "enum": [
                                                                "SIGN",
                                                                "SYMPTOM",
                                                                "DIAGNOSIS",
                                                                "NEGATION"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Score": {
                                                            "description": " The level of confidence that Comprehend Medical has in the accuracy of this trait.",
                                                            "format": "float",
                                                            "type": "number"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "Type": {
                                                "description": " The type of attribute. ",
                                                "enum": [
                                                    "NAME",
                                                    "DOSAGE",
                                                    "ROUTE_OR_MODE",
[...]
